# Volt Analytics

## Import Dependencies

In [1]:
import os
import datetime as dt
import numpy as np
import pandas as pd
import openpyxl as Workbook

pd.set_option('display.max_rows', 500)

In [2]:
currentDate =  dt.datetime.today().date()
currentDate

datetime.date(2017, 8, 14)

## Read in CSV files

In [3]:
#Volt Daily Data
voltDailyData = pd.read_csv('data/voltdailydata_' + currentDate.strftime('%Y%m%d') + '.csv')

In [4]:
voltDailyData.head()

                    Date  MilesDriven  EvMilesDriven  GallonsBurned
0  6/25/2017 12:00:00 AM        163.7           52.6        3.03005
1  6/26/2017 12:00:00 AM        202.4           42.5        4.15543
2  6/27/2017 12:00:00 AM        202.3           53.8        3.97314
3  6/28/2017 12:00:00 AM        197.7           52.4        3.93617
4  6/29/2017 12:00:00 AM        192.6           45.2        3.83577

In [5]:
# Calculate total miles driven, round values
voltDailyData['TotalMilesDriven'] = voltDailyData['MilesDriven'] + voltDailyData['EvMilesDriven']
voltDailyData['Date'] = pd.to_datetime(voltDailyData['Date'])
voltDailyData = voltDailyData.round(2)
voltDailyData.head()

        Date  MilesDriven  EvMilesDriven  GallonsBurned  TotalMilesDriven
0 2017-06-25        163.7           52.6           3.03             216.3
1 2017-06-26        202.4           42.5           4.16             244.9
2 2017-06-27        202.3           53.8           3.97             256.1
3 2017-06-28        197.7           52.4           3.94             250.1
4 2017-06-29        192.6           45.2           3.84             237.8

In [6]:
#Volt Readings throughout the day (usually two)
voltReadings = pd.read_csv('data/voltdata_' + currentDate.strftime('%Y%m%d') + '.csv')

In [7]:
voltReadings.head()

,LocalTimestamp,BatteryLevel,ChargeState,OilLife,TirePressure_RF,TirePressure_RR,TirePressure_LF,TirePressure_LR,GallonsBurned,LifetimeFuelEcon,LifetimeEvMiles,LifetimeMiles,LastTripFuelEcon,LastTripEvMiles,LastTripMiles,GallonsOfGas
0,8/14/2017 6:50:34 AM,0.0,NaN,0.0,0.0,0.0,0.0,0.0,708.86329,65.73844,19748.53722,46599.56462,0.0,0.0,0.0,7.33870
1,8/13/2017 6:58:21 PM,0.0,NaN,0.0,0.0,0.0,0.0,0.0,707.54243,65.78753,19745.32473,46547.46886,0.0,0.0,0.0,9.31206
2,8/13/2017 7:41:44 AM,0.0,NaN,0.0,0.0,0.0,0.0,0.0,707.54243,65.77869,19739.06752,46541.21787,0.0,0.0,0.0,2.77381
3,8/12/2017 7:03:28 PM,0.0,NaN,0.0,0.0,0.0,0.0,0.0,707.54243,65.77869,19739.06752,46541.21787,0.0,0.0,0.0,2.77381
4,8/12/2017 7:30:18 AM,0.0,NaN,0.0,0.0,0.0,0.0,0.0,707.54243,65.77869,19739.06752,46541.21787,0.0,0.0,0.0,2.77381

In [8]:
# Sort based on timestamp, round values, convert object to timestamp 
voltReadings.sort_values(by='LifetimeMiles', inplace=True)
voltReadings['LocalTimestamp'] = pd.to_datetime(voltReadings['LocalTimestamp'])
voltReadings = voltReadings.round(2)
voltReadings.head()

,LocalTimestamp,BatteryLevel,ChargeState,OilLife,TirePressure_RF,TirePressure_RR,TirePressure_LF,TirePressure_LR,GallonsBurned,LifetimeFuelEcon,LifetimeEvMiles,LifetimeMiles,LastTripFuelEcon,LastTripEvMiles,LastTripMiles,GallonsOfGas
100,2017-06-24 17:31:19,0.0,NaN,0.0,0.0,0.0,0.0,0.0,593.83,68.35,17941.91,40585.45,0.0,0.0,0.0,6.24
99,2017-06-25 05:35:50,0.0,NaN,0.0,0.0,0.0,0.0,0.0,593.83,68.35,17941.91,40585.45,0.0,0.0,0.0,6.24
98,2017-06-25 17:51:57,0.0,NaN,0.0,0.0,0.0,0.0,0.0,596.65,68.27,17988.50,40734.80,0.0,0.0,0.0,3.65
97,2017-06-26 05:52:46,0.0,NaN,0.0,0.0,0.0,0.0,0.0,596.86,68.27,17994.46,40749.16,0.0,0.0,0.0,3.32
96,2017-06-26 19:15:25,0.0,NaN,0.0,0.0,0.0,0.0,0.0,601.02,68.14,18036.93,40951.55,0.0,0.0,0.0,5.40

In [9]:
voltReadings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101 entries, 100 to 0
Data columns (total 16 columns):
LocalTimestamp      101 non-null datetime64[ns]
BatteryLevel        101 non-null float64
ChargeState         0 non-null float64
OilLife             101 non-null float64
TirePressure_RF     101 non-null float64
TirePressure_RR     101 non-null float64
TirePressure_LF     101 non-null float64
TirePressure_LR     101 non-null float64
GallonsBurned       101 non-null float64
LifetimeFuelEcon    101 non-null float64
LifetimeEvMiles     101 non-null float64
LifetimeMiles       101 non-null float64
LastTripFuelEcon    101 non-null float64
LastTripEvMiles     101 non-null float64
LastTripMiles       101 non-null float64
GallonsOfGas        101 non-null float64
dtypes: datetime64[ns](1), float64(15)
memory usage: 13.4 KB

In [10]:
# Drop NA values and select columns desired
voltReadings = voltReadings.dropna(axis=1, how='any')
voltReadings = voltReadings[['LocalTimestamp', 'GallonsBurned', 'LifetimeFuelEcon', 'LifetimeMiles', 'GallonsOfGas']]
voltReadings

,LocalTimestamp,GallonsBurned,LifetimeFuelEcon,LifetimeMiles,GallonsOfGas
100,2017-06-24 17:31:19,593.83,68.35,40585.45,6.24
99,2017-06-25 05:35:50,593.83,68.35,40585.45,6.24
98,2017-06-25 17:51:57,596.65,68.27,40734.80,3.65
97,2017-06-26 05:52:46,596.86,68.27,40749.16,3.32
96,2017-06-26 19:15:25,601.02,68.14,40951.55,5.40
95,2017-06-27 06:58:20,601.50,68.13,40980.32,4.67
94,2017-06-27 17:43:14,604.19,68.05,41116.79,7.85
93,2017-06-28 05:34:27,604.99,68.02,41153.86,6.60
92,2017-06-28 17:35:10,608.17,67.93,41311.50,3.75
91,2017-06-29 05:36:46,608.92,67.91,41351.56,2.91
90,2017-06-29 18:01:14,612.76,67.80,41544.16,5.18
89,2017-06-30 07:19:03,613.11,67.78,41556.39,4.67
88,2017-06-30 18:42:53,613.11,67.78,41556.39,4.49
87,2017-07-01 07:23:44,613.11,67.78,41557.34,4.67
86,2017-07-01 18:57:13,615.91,67.67,41675.86,2.00
85,2017-07-02 06:56:42,617.78,67.61,41770.73,7.00
84,2017-07-02 18:54:31,617.78,67.62,41773.73,6.42
83,2017-07-03 06:39:16,617.78,67.62,41776.92,6.56
82,2017-07-03 18:54:10,618.53,67.59,41809.13,5.88
81,2017-07-04 06:51:32,618.53,67.59,41809.13,5.88
80,2017-07-04 18:48:03,618.53,67.61,41819.89,5.80
79,2017-07-05 07:13:52,619.45,67.61,41879.55,5.11
78,2017-07-05 18:44:09,622.36,67.51,42016.87,2.11
77,2017-07-06 06:56:17,622.36,67.51,42016.87,2.11
74,2017-07-07 17:58:03,622.36,67.53,42029.20,2.11
76,2017-07-06 18:07:56,622.36,67.53,42029.20,2.15
75,2017-07-07 07:06:20,622.36,67.53,42029.20,2.11
72,2017-07-08 17:38:35,622.36,67.54,42035.64,2.36
73,2017-07-08 05:59:27,622.36,67.54,42035.64,2.36
71,2017-07-09 05:40:50,622.36,67.55,42038.64,2.22
70,2017-07-09 18:01:33,622.36,67.55,42039.51,2.11
69,2017-07-10 06:35:08,622.36,67.56,42044.84,8.50
68,2017-07-10 18:26:26,625.97,67.47,42236.87,4.89
67,2017-07-11 08:40:59,628.24,67.41,42350.27,6.97
66,2017-07-11 19:08:24,630.19,67.36,42449.27,4.49
65,2017-07-12 06:42:13,630.78,67.35,42483.13,3.98
64,2017-07-12 18:57:59,634.12,67.26,42652.91,7.63
63,2017-07-13 09:36:20,636.07,67.23,42762.86,5.44
62,2017-07-13 18:35:11,636.73,67.21,42792.96,8.84
61,2017-07-14 07:20:48,638.46,67.17,42886.19,6.79
60,2017-07-14 17:43:59,638.46,67.17,42886.24,6.42
59,2017-07-15 06:43:17,638.46,67.17,42886.24,6.42
58,2017-07-15 17:53:16,638.46,67.19,42896.22,6.39
57,2017-07-16 06:34:51,638.46,67.20,42903.23,6.83
56,2017-07-16 18:58:22,638.46,67.22,42918.26,8.32
55,2017-07-17 18:55:15,642.49,67.12,43122.02,4.56
54,2017-07-18 07:16:37,643.54,67.11,43185.48,7.74
53,2017-07-18 17:54:19,646.24,67.04,43321.81,4.89
52,2017-07-19 05:37:32,646.35,67.03,43326.36,4.53
51,2017-07-19 17:33:15,649.30,66.97,43484.45,7.26
50,2017-07-20 04:29:06,650.15,66.94,43523.99,6.05
49,2017-07-20 18:57:23,653.72,66.88,43721.80,2.77
48,2017-07-21 07:36:48,654.18,66.86,43741.22,2.11
47,2017-07-21 18:52:33,654.18,66.87,43746.31,2.36
46,2017-07-22 07:36:00,654.18,66.88,43749.84,2.11
45,2017-07-22 19:05:18,654.18,66.88,43749.86,2.26
44,2017-07-23 07:48:34,654.18,66.88,43749.86,2.22
43,2017-07-23 19:52:07,654.18,66.88,43753.40,8.50
42,2017-07-24 06:55:03,655.04,66.86,43795.83,7.81
41,2017-07-24 19:12:59,657.97,66.80,43951.39,4.49
40,2017-07-25 07:06:59,658.76,66.78,43990.43,3.90
39,2017-07-25 18:29:46,661.58,66.73,44149.40,6.50
38,2017-07-26 09:13:20,663.46,66.70,44249.82,8.32
37,2017-07-26 20:14:24,664.03,66.70,44289.44,7.63
36,2017-07-27 07:40:49,664.03,66.70,44289.46,7.81
34,2017-07-28 05:40:50,664.27,66.74,44336.02,7.30
35,2017-07-27 19:00:03,664.27,66.74,44336.02,7.26
33,2017-07-28 18:08:07,665.92,66.74,44442.85,5.62
32,2017-07-29 05:58:35,666.23,66.73,44457.97,5.07
31,2017-07-29 17:51:07,666.23,66.77,44482.55,5.04
30,2017-07-30 06:17:41,666.23,66.79,44496.89,5.04
29,2017-07-30 17:35:54,672.11,66.52,44711.13,4.30
28,2017-07-31 07:17:53,676.01,66.38,44876.93,7.85
27,2017-07-31 20:24:09,679.27,66.32,45047.62,4.13
26,2017-08-01 07:34:23,680.43,66.31,45117.61,9.28
25,2017-08-01 19:17:57,683.10,66.24,45246.00,5.84
24,2017-08-02 07:33:42,683.90,66.23,45292.20,5.25
23,2017-08-02 17:27:31,685.75,66.20,45399.19,8.46
22,2017-08-03 05:26:52,686.80,66.17,45444.26,7.00
21,2017-08-03 17:26:57,690.42,66.09,45629.18,3.54
20,2017-08-04 05:27:19,691.02,66.06,45651.69,2.77
19,2017-08-04 18:20:52,692.97,66.03,45757.91,6.72
18,2017-08-05 07:49:19,694.69,65.97,45825.32,5.07
17,2017-08-05 19:04:45,694.82,65.97,45836.78,4.67
16,2017-08-06 07:01:29,694.82,65.99,45851.43,4.89
15,2017-08-06 18:51:47,695.06,66.03,45893.89,4.30
14,2017-08-07 05:25:36,696.17,66.00,45949.18,3.43
13,2017-08-07 17:53:59,696.17,66.00,45949.21,3.32
12,2017-08-08 05:22:17,696.17,66.00,45949.21,3.32
11,2017-08-08 18:18:47,700.02,65.92,46147.01,4.49
10,2017-08-09 07:41:27,702.04,65.87,46245.08,8.29
9,2017-08-09 17:39:41,703.95,65.83,46343.07,6.05
8,2017-08-10 05:25:34,703.95,65.83,46343.07,6.05
7,2017-08-10 19:07:07,707.54,65.78,46541.22,2.77
6,2017-08-11 07:31:10,707.54,65.78,46541.22,2.77
5,2017-08-11 18:23:15,707.54,65.78,46541.22,2.77
4,2017-08-12 07:30:18,707.54,65.78,46541.22,2.77
3,2017-08-12 19:03:28,707.54,65.78,46541.22,2.77
2,2017-08-13 07:41:44,707.54,65.78,46541.22,2.77
1,2017-08-13 18:58:21,707.54,65.79,46547.47,9.31
0,2017-08-14 06:50:34,708.86,65.74,46599.56,7.34

In [11]:
voltReadings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101 entries, 100 to 0
Data columns (total 5 columns):
LocalTimestamp      101 non-null datetime64[ns]
GallonsBurned       101 non-null float64
LifetimeFuelEcon    101 non-null float64
LifetimeMiles       101 non-null float64
GallonsOfGas        101 non-null float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 4.7 KB